/build*
/test_data/*_test.xml
/bin/

/lib/Debug/
/lib/Release/

/msvc/*_autogen/
/msvc/*.dir/
/msvc/CMakeFiles/
/msvc/depend/
/msvc/QtNodeEditor/
/msvc/test/
/msvc/ui_*
/msvc/x64/

/depend/Qt/*
/depend/zeromq-4.3.4/bin/
/depend/zeromq-4.3.4/msvc/*.dir/

\.vs/
obj/

CMakeCache.txt
mocs_*

*.aps
*.exp
*.user
